.form {
  display: flex;
}

.input {
  border: 1px solid black;
  border-radius: 0;
  padding: 0 2%;
  width: 80%;
  font-size: 1.2em;
  border-radius: 0.5rem;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #8f21a5;
  padding: 1rem;
  display: inline-block;
  border: 1px solid black;
  border-radius: 0.5rem;
  width: 20%;
}

.sendButton:hover {
  background: #51135e;
  cursor: pointer;
  text-decoration: underline;
}
