html,
body {
  font-family: "Times New Roman", Times, serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: #0f0f0f;
}

.joinInnerContainer {
  width: 25%;
}

.joinInput {
  border-radius: 0;
  padding: 0.5rem 0.5rem;
  width: 100%;
}

.heading {
  color: rgb(255, 255, 255);
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(131, 0, 113);
}

.button {
  color: rgb(255, 255, 255) !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #8f21a5;
  padding: 1rem;
  border-radius: 2rem;
  display: inline-block;
  border: none;
  width: 100%;
}

.button:hover {
  background: #51135e;
  cursor: pointer;
  text-decoration: underline;
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }
}

button:focus {
  outline: 0;
}
